html {
    background-color: #323232;
}
.Hogares {
    background-color: #323232;
    color: #BCFFFA;
}

.texto-creacion {
    font-size: 24px;
}

#boton {
    background-color: #14FFEC;
    color:#323232;
}

.titulo {
    font-size: 24px;
    text-align: center;
    color:#14FFEC;
}

.plus {
    text-align: right;
    padding-top: 10px;
}

.torre-selector {
    background-color: #14FFEC;
}

#info {
    text-align: center;
    font-size: large;
}

.textfieldLabel {
    color: white !important;
}

.HomeCard{
    font-size: 18px;
    text-align: center;
    width: 200px;
    float: left;
}

.requerimientos-resi {
    padding-top: 4px;
}

.requerimientos-vis {
    padding-top: 4px;
    padding-bottom: 4px;
}

.opciones-selection {
    overflow-y: auto;
    max-height: 0px;
}