    .App {
        background: #323232;
        text-align: center;
    }
    h1{
        color: #14FFEC;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        padding-top: 80px;
        padding-left: 260px;
    }
    
    .App-logo {
        margin-top: 170px;
        margin-left: 130px;
        height: 60vmin;
        pointer-events: none;
        position: absolute;
    }
    .App-logo1 {
        margin-top: 310px;
        margin-left: 360px;
        height: 15vmin;
        pointer-events: none;
        position: absolute;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 20s linear;
        }
        
    } 
    
    .App-header {
        background: #323232;
        min-height: 100vh;
        display: flex;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-link {
        background: #323232;
        color: #61dafb;
    }
    
    @keyframes App-logo-spin {
        from {
        transform: rotate(0deg);
        }
        to {
        transform: rotate(360deg);
        }
    }
    .container {
        color: #14FFEC;
        padding-left: 900px;
        position: absolute;
    }
    ::placeholder {
        color: #14FFEC;
        
    }
