html {
    background-color: #323232;
}

.texto-creacion {
    font-size: 24px;
}

#boton {
    background-color: #14FFEC;
    color:#323232;
}

.titulo {
    font-size: 24px;
    text-align: center;
    color:#14FFEC;
}

.plus {
    text-align: right;
    padding-top: 10px;
}

.torre-selector {
    background-color: #14FFEC;
}

#info {
    text-align: center;
    font-size: large;
}

.textfieldLabel {
    color: white !important;
}

.residentCard {
    font-size: 18px;
    text-align: center;
    width: 115px;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
    height: 156px;
    border: solid #BCFFFA;
    border-radius: 10px;
}