html {
    background-color: #323232;
}
.Hogares {
    background-color: #323232;
    color: #BCFFFA;
}

.texto-creacion {
    font-size: 24px;
}

#boton {
    background-color: #14FFEC;
    color:#323232;
}

.plus {
    text-align: right;
    padding-top: 10px;
}

.torre-selector {
    background-color: #14FFEC;
}

#info {
    text-align: center;
    font-size: large;
}

.textfieldLabel {
    color: white !important;
}

.HomeCard{
    font-size: 18px;
    text-align: center;
    width: 200px;
    float: left;
    padding-left: 4%;
}

.titulo-hogares{
    font-size: 24px;
    text-align: center;
    color:#14FFEC;
    text-transform: uppercase;
}

.indicador-hogar {
    margin: 0%;
    margin-top: 8px;
    text-align:right;
    color:#14FFEC;
}