.login-logo {
  /* position: absolute; */
  /* background-color: beige; */
  margin: 0 auto;
  height: 60vmin;
  pointer-events: none;
  /* position: absolute; */
}

.login-logo1 {
  /* position: absolute; */
  margin: auto;
  height: 15vmin;
  pointer-events: none;
  /* position: absolute; */
}

.login-logo-div{
  /* position: relative; */
}