.App-logo {
  /* margin-top: 170px;
  margin-left: 130px; */
  height: 60vmin;
  pointer-events: none;
  /* position: absolute; */
}
.App-logo1 {
  /* margin-top: 310px;
  margin-left: 360px; */
  height: 15vmin;
  pointer-events: none;
  /* position: absolute; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  }
  
} 