.login-logo {
  /* position: absolute; */
  /* background-color: beige; */
  margin-left: 180% ;
  height: 50vmin;
  width: 30vmin;
  pointer-events: none;
  /* position: absolute; */
}

.login-logo1 {
  /* position: absolute; */
  margin: auto;
  height: 15vmin;
  pointer-events: none;
  /* position: absolute; */
}

